@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-dmsans), sans-serif;;
}

@layer components {
  .tinyText {
   @apply text-[12px] leading-[15.62px] tracking-[0.5%] font-dmsans 
  }
  .mediumText {
   @apply font-medium font-dmsans text-[14px] leading-[18.23px] tracking-[0.5%]  
  }
  .normalText {
    @apply font-medium font-dmsans text-[20px] leading-[22px] tracking-[0.5%]  

  }
}
